@font-face {
    font-family: 'ZagolovochnayaW01-Book';
    src: url('ZagolovochnayaW01-Book.woff2') format('woff2'),
        url('ZagolovochnayaW01-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria-Italic.woff2') format('woff2'),
        url('Cambria-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

